body {
  color: #333333;
  font-family: 'questrial', sans-serif;
  font-size: 18px;
  line-height: 1.222em;
  font-weight: 300;
  -ms-overflow-style: scrollbar;
}
/*
h1, .h1 { .em(36) }
h2, .h2 { .em(22) }
h3, .h3 { .em(20) }
h4, .h4 { .em(19) }
h5, .h5 { .em(18)}
h6, .h6 { .em(16) }
*/
h1,
.h1 {
  font-size: 36px;
}
h2,
.h2 {
  font-size: 21px;
}
h3,
.h3 {
  font-size: 20px;
}
h4,
.h4 {
  font-size: 20px;
}
h5,
.h5 {
  font-size: 18px;
}
h6,
.h6 {
  font-size: 17px;
}
a {
  outline: none;
  color: #1594ff;
  text-decoration: underline;
  font-size: 17px;
}
a:link,
a:visited {
  outline: none;
  text-decoration: none;
}
a:active,
a:focus,
a:hover {
  text-decoration: underline;
}
.facebook {
  background-color: #3D5B96;
}
.twitter {
  background-color: #3399CC;
}
.linkedin {
  background-color: #1884BB;
}
.google-plus {
  background-color: #DD3F34;
}
.undecorated {
  text-decoration: none;
}
.mclearfix {
  clear: both;
}
.ul-nospace {
  margin: 0;
  padding: 0;
}
